@tailwind base;

@tailwind components;

@tailwind utilities;


.bg-h{
  background-image: url('./img/tailwind_bg.jpg');
}
.h-112{
    height: 24rem;
}

.w-1/8{
	width: 12,5%;
}
.w-7/8{
	width: 87,5%;
}